/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  font-size: 14px !important;
  padding: 0;
  --sans-font: 'Segoe UI', 'Helvetica Neue', sans-serif, -apple-system,
    system-ui;
  font-family: var(--sans-font);
  @apply dark:bg-gray-900;
}
body {
  min-height: 100vh;

  @apply overflow-hidden;
}

body a {
  @apply text-primary-default transition-colors;
  text-decoration: none;
}

body a:hover {
  @apply text-primary-shallow;
}

button:focus,
button {
  outline: unset;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-shallow;

  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-corner {
  background: var(--light-bg);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
